<nav class="nav">
	{# <div class="logoContainer">
		<a href="{{ path('main_home') }}">
			<img class="imgLogo" src="{{ asset('img/Banniere.jpg') }}" alt="Logo j'ai un bouc et y'm'sert">
		</a>
	</div> #}

    <div class="titreTemp"><a href="{{ path('main_home') }}">J'ai un bouc et y'm'sert</a></div>

	<div class="navContainer">
		<a class="navHome" href="{{ path('main_home') }}">Accueil</a>
		<a class="navServices" href="#">Prestations</a>
		<a class="navAbout" href="#">A propos</a>
		<a class="navContact" href="#">Contact</a>
	</div>
</nav>
