form {
    width: 70%;
    height: auto;
}

.form-control {
    width: 60vw;
    height: auto;
    background-color: #ffffffa3; 
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1019607843);
}

.bodyContact {
    min-height: 500px;
    display:flex;
    justify-content: center;
    align-items: center;
}  

.formContact label {
    display:block;
}

.radioContact label {
    display:inline;
    padding: 3px;
}

form {
    color:#424242;
}

form input {
    margin-bottom: 3px;
}

.containerTitle {
    display:flex;
    justify-content: center;
    align-items: center;
}

.contactTitle {
    padding: 12px;
    height: auto;
    width: 70%;
}

.contactTitle h1 {
    color:#8EBC40;
}

.contactTitle p {
    color:#424242;
}

