form {
    width: 70%;
    height: auto;
    color:#424242;
}

.form-control {
    height: auto;
    background-color: #ffffffa3; 
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1019607843);
}

.bodyForm {
    min-height: 500px;
    display:flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 10em;
}

.bodyFormLogin {
    display:flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 10em;
}

.formContact label {
    display:block;
}

.radioContact label {
    display:inline;
    padding: 3px;
}

.containerTitle {
    display:flex;
    justify-content: center;
    align-items: center;
}

.contactTitle {
    padding: 12px;
    height: auto;
    width: 70%;
}

.contactTitle h1 {
    color:#8EBC40;
}

.contactTitle p {
    color:#424242;
}

form h1 {
    color:#8EBC40;
    margin:1em;
    text-align: center;
}

form input[type="text"], form input[type="email"], form input[type="tel"], form input[type="password"], form textarea {
    height: 2.3em;
    width: 100%;
    border-radius: var(--bs-border-radius);
    border:none;
    margin-bottom: 2em;
    background-color: #fafafa;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1019607843);
}

form input[type="text"]::placeholder, form input[type="email"]::placeholder, form input[type="tel"]::placeholder, form input[type="password"]::placeholder, form textarea::placeholder {
    color: #424242ae;
}

form button.btn {
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1019607843);
    font-family: 'Source Sans Pro', sans-serif;
    margin-bottom: 2em;

    --bs-btn-bg: #424242db;
    --bs-btn-border-color: #424242db;

    --bs-btn-hover-bg: #424242;
    --bs-btn-hover-border-color: #424242;

    --bs-btn-active-bg:#8EBC40;
    --bs-btn-active-border-color: #8EBC40;
}

form a.btn.btn-outline-primary{
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1019607843);
    font-family: 'Source Sans Pro', sans-serif;
    margin-bottom: 2em;

    text-decoration: none;

    --bs-btn-color: #8EBC40;
    --bs-btn-bg: transparent;
    --bs-btn-border-color: #8EBC40;

    --bs-btn-hover-bg: #8EBC40;
    --bs-btn-hover-border-color: #8EBC40;

    --bs-btn-active-bg:#8EBC40;
    --bs-btn-active-border-color: #8EBC40;
}

form a.btn.btn-outline-danger{
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1019607843);
    font-family: 'Source Sans Pro', sans-serif;
    margin-bottom: 2em;

    text-decoration: none;
}

.links {
    padding-bottom: 2em;
}

a.aCreateAccount {
    text-decoration: underline;
    color:#424242;
}

a.aCreateAccount:hover {
    color:#8EBC40;
    transition: .2s ease;  
}