.containerMessages {
    min-height: 70vh;
    border-radius: var(--bs-border-radius);
    padding: 1em;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1019607843);
}

.topMessages {
    max-height: 500px;
    margin-bottom: 1em;
    overflow-y: auto;
}

.botMessages {
    height: auto;
}

.topMessagesContent {
    border-radius: var(--bs-border-radius);
    border: none;
    background-color: #fafafa;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1019607843);
    height: 100%;
    width: 100%;
}

.topMessagesContainer {
    height: auto;
}

.form-control {
    height: auto;
    background-color: #ffffffa3;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1019607843);
}

.bodyMessages {
    min-height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 10em;
}

form textarea {
    border-radius: var(--bs-border-radius);
    border: none;
    background-color: #fafafa;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1019607843);
    width: 100%;
    height: 5em;
}

form textarea::placeholder {
    color: #424242ae;
}

form .btn {
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1019607843);
    font-family: "Source Sans Pro", sans-serif;
    height: 100%;
    width: 100%;

    --bs-btn-bg: #424242db;
    --bs-btn-border-color: #424242db;

    --bs-btn-hover-bg: #424242;
    --bs-btn-hover-border-color: #424242;

    --bs-btn-active-bg: #8ebc40;
    --bs-btn-active-border-color: #8ebc40;
}

h1 {
    color: #8ebc40;
    margin: 1em;
    text-align: center;
}

.leftMessage {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    margin-left: 1em;
    margin-bottom: 1em;
}

.rightMessage {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: column;
    margin-right: 1em;
    margin-bottom: 1em;
}

.messageList {
    display: flex;
    flex-direction: column;
}

ul {
    padding-left: 0;
}

.rightMessage > p {
    background-color: #d6edc6;
    border-top-left-radius: var(--bs-border-radius);
    border-top-right-radius: var(--bs-border-radius);
    border-bottom-left-radius: var(--bs-border-radius);
    padding: 0.5em 1em 0.5em 1em;
    max-width: 70%;
    margin-bottom: 0;
    word-wrap: break-word;
}

.leftMessage > p {
    background-color: #c4e7f7;
    border-top-left-radius: var(--bs-border-radius);
    border-top-right-radius: var(--bs-border-radius);
    border-bottom-right-radius: var(--bs-border-radius);
    padding: 0.5em 1em 0.5em 1em;
    max-width: 70%;
    margin-bottom: 0;
    word-wrap: break-word;
}

.rightMessage > span {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: row;
    font-size: small;
    color: #7d7c7c;
}

.leftMessage > span {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: row;
    font-size: small;
    color: #7d7c7c;
}

.date {
    display: flex;
    justify-content: center;
    flex-direction: row;
    font-size: small;
    color: #7d7c7c;
    margin: 1em 0 1em 0;
}

.date:before,
.date:after {
    content: "";
    flex: 1 1;
    border-bottom: 1px solid #7d7c7c;
    margin: auto;
}

.date:before {
    margin-right: 1em;
    margin-left: 1em;
}

.date:after {
    margin-left: 1em;
    margin-right: 1em;
}

.row > span {
    padding-left: 1px;
    padding-right: 1px;
}

/* ADMIN */
.userListMessages {
    height: 100%;
    width: 100%;
    overflow-y: auto;
}

.userListMessages > ul > li{
    padding: 1em;
    border-bottom: 1px solid #7d7c7c;
    background-color: #f1eeee;
}

.userListMessages > ul > li:hover {
    background-color: #e4e1e1;
    cursor:pointer;
}

.userListMessages > ul > li > a {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color:#424242;
}

.previewMessageContent {
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #413f3f;
    font-size: medium;
}

.previewMessageDate {
    color:#7d7c7c;
    font-size: small;
}

.leftMessagerie {
    height: auto;
    border-radius: var(--bs-border-radius);
    background-color: #fafafa;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1019607843);
    overflow: hidden;
}

.rightMessagerie {
    padding-left: 1em;
    height: 100%;
    border-radius: var(--bs-border-radius);
    overflow: hidden;
    display:flex;
    flex-direction: column;
}

