.containerMessages {
    height: 70vh;
    border-radius: var(--bs-border-radius);
    padding:1em;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1019607843);
}

.topMessages {
    height: 90%;
    margin-bottom: 1em;
    overflow-y: auto;
}

.botMessages {
    height: 10%;
}

.topMessagesContent {
    border-radius: var(--bs-border-radius);
    border:none;
    background-color: #fafafa;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1019607843);
    height: 100%;
    width: 100%;
}

.form-control {
    width: 60vw;
    height: auto;
    background-color: #ffffffa3; 
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1019607843);
}

.bodyMessages {
    min-height: 80vh;;
    display:flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 10em;
}

form textarea {
    border-radius: var(--bs-border-radius);
    border:none;
    background-color: #fafafa;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1019607843);
    width:100%;
    height:5em;
}

form textarea::placeholder {
    color: #424242ae;
}

form .btn  {
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1019607843);
    font-family: 'Source Sans Pro', sans-serif;
    height: 100%;
    width: 100%;

    --bs-btn-bg: #424242db;
    --bs-btn-border-color: #424242db;

    --bs-btn-hover-bg: #424242;
    --bs-btn-hover-border-color: #424242;

    --bs-btn-active-bg:#8EBC40;
    --bs-btn-active-border-color: #8EBC40;
}

h1 {
    color:#8EBC40;
    margin:1em;
    text-align: center;
}

.leftMessage {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: row;
    margin-left:1em;
    margin-bottom:1em;
}

.rightMessage {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: row;
    margin-right:1em;
    margin-bottom:1em;
}

.messageList {
    display:flex;
    flex-direction: column;
}

ul {
    list-style-position: inside;
    padding-left: 0;
}

.rightMessage > p {
    background-color: darkkhaki;
    border-top-left-radius: var(--bs-border-radius);
    border-top-right-radius: var(--bs-border-radius);
    border-bottom-left-radius: var(--bs-border-radius);
    padding-left: 1em;
    padding-right: 1em;
    max-width: 70%;
}

.leftMessage > p {
    background-color: cadetblue;
    color: #fafafa;
    border-top-left-radius: var(--bs-border-radius);
    border-top-right-radius: var(--bs-border-radius);
    border-bottom-right-radius: var(--bs-border-radius);
    padding-left: 1em;
    padding-right: 1em;
    max-width: 70%;
}
