/*** couleurs
* blanc cassé : #fafafa
* vert : #91b06f
* noir : #424242
*/
body {
    background-color: #fafafa;
    font-family: 'Source Sans 3', sans-serif;
}

.nav  {
    display:flex;
    height: 15vh;
    justify-content: space-between;
    align-content: center;
}

.titreTemp a{
    color:#91b06f;
    font-size: 2em;
    font-weight: bold;
    text-decoration: none;
}

.navContainer a {
    text-decoration: none;
    margin:10px;
    color:#424242;
}

.navContainer a:hover {
    color:#91b06f;
    transition: .2s ease;
    
}

#active {
    color:#91b06f;
}

#imgUnderNav {
    width: 100%;
    max-height: 30vh;
    object-fit: cover;
    pointer-events: none;
}

.textImgNav {
    position: absolute;
    max-width: 60%;
    text-align: center;
    text-shadow: #424242 1px 0 10px;
}

.containerImgNav img {
    filter:blur(4px);
}

.containerImgNav {
    position: relative;
    display:flex;
    justify-content: center;
    align-items: center;
    color:#424242;
}

#imgNavTitle {
    font-size: 3em;
    font-weight: bold;
}

.articleHome {
    margin-bottom: 50px;
}

.articleHome img {
    width: 100%;
}

.articleHome h2 {
    font-weight: bold;
    color: #91b06f;
}

    