/*** couleurs
* blanc cassé : #fafafa
* vert : #8EBC40
* noir : #424242
*/


/*
** base.html.twig **
*/
body {
    font-family: 'Source Sans Pro', sans-serif;
}

header {
    top:0;
    position:sticky;
    z-index:1000;
    background-color: #FFFFFF;
    box-shadow: 0px 15px 15px -15px rgba(0, 0, 0, 0.1019607843);
}

.logoContainer {
    text-align: center;
}

.imgLogo {
    max-width: 300px;
}

.content {
    background-image: url('../img/bg.jpg');
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: 100%;
    
}

main {
    padding-top: 5em;
    min-height: 80vh;
    padding-bottom: 20em;
}

footer {
    color:#424242;
    background-color: #8EBC40;
    padding-bottom: 2em;
    width: 100%;
}

.footerMain {
    color: #fafafa;
}

hr {
    margin:0;
}

.nav  {
    display:flex;
    height: auto;
    flex-direction: row;
}

.titreTemp a{
    color:#8EBC40;
    font-size: 2em;
    font-weight: bold;
    text-decoration: none;
}

.navContainer {
    align-self: center;
    justify-self: center;
    text-align: center;
    padding-bottom: 1em;
    padding-top: 1em;
}

.navContainer a {
    text-decoration: none;
    margin:10px;
    font-size: large;
    color:#424242;
}

.navContainer a:hover {
    color:#8EBC40;
    transition: .2s ease;
    
}

#active {
    color:#8EBC40;
}

.containerImgNav {
    height: 0.1em;
    background-color: #8EBC40;
}

#imgNavTitle {
    font-size: 3vw;
    font-weight: bold;
}

.dropdown-item {
    width: auto;
    --bs-dropdown-link-active-color: #fafafa;
    --bs-dropdown-link-active-bg: #8EBC40;
}

.round-img{
    height: 30px;
    max-width: 30px;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1019607843);
 }

 #imgLogoFooter {
    width: 200px;
}

.picto {
    height: 1em;
}

a#mailHome {
    text-decoration: none;
    color:#fafafa;
}

a#mailHome:hover{
    text-decoration: none;
    color:#424242;
}


/*
** about.html.twig
*/
.articleHome {
    color:#424242;
}

.articleHome img {
    width: 100%;
}

.articleHome h2 {
    font-weight: bold;
    color: #8EBC40;
}

.btn-devis {
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1019607843);
    font-family: 'Source Sans Pro', sans-serif;
    text-decoration: none;

    --bs-btn-color: #8EBC40;
    --bs-btn-bg: transparent;
    --bs-btn-border-color: #8EBC40;

    --bs-btn-hover-bg: #8EBC40;
    --bs-btn-hover-border-color: #8EBC40;

    --bs-btn-active-bg:#8EBC40;
    --bs-btn-active-border-color: #8EBC40;
}


/*
** index.html.twig
*/

#imgArticleAccueil {
    max-height: 14em;
    object-fit: fill;
}

img.imgArticle {
    max-height: 23em;
    object-fit: cover;
}

.articleText {
    text-align: justify;
}

#map {
    height: 250px;
    width: 100%;
}

.carousel-item img {
    width: auto;
    height: 400px;
    object-fit: cover;
}

.homeFirst h2 {
    color:#8EBC40;

}

.homeFirst {
    margin-top: 2em;
    padding:1em;
    border-radius: var(--bs-border-radius);;
    border: 1px solid #42424271;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1019607843);
    text-align: justify;
    font-size: large;
}

.homeSecond {
    font-size: large;
    margin-bottom: 2em;
}

.homeThird h2 {
    color:#8EBC40;
}

.homeThird {
    font-size: large;
    text-align: justify;
}

.homeThird img {
    width: 450px;
}

.homeThird figure {
    float:right;
    padding-left:1em;
    padding-bottom: 1em;
}


.clientsActuel {
    overflow-y: auto;
}

.clientsActuel img{
    max-height: 6em;
}

.clientContainer {
    margin-right: 2em;
}

#formAjoutClient {
    display: none;
}

#ajoutClient {
    cursor:pointer;
}

#clients_image {
    margin-bottom: 2em;
}

a#supprClient{
    color:crimson;
    text-decoration: none;
}

img#imgCentrale {
    height: 600px;
    width: 100%;
    object-fit: cover;
}



/*
** autre
*/

.bodyCheckEmail {
    min-height: 80vh;;
    padding-bottom: 10em;
 }

 .footerSpace {
    height: 10em;
}