{% extends 'base.html.twig' %}

{% block title %}Contact |&nbsp; {{ parent() }}{% endblock %}
{% block navContact %}active{% endblock %}

{% block body %}
<div style="height:100vh">
Contact

{{ form_start(formContact) }}
<button>Envoyer</button>
{{ form_end(formContact) }}

</div>

{% endblock %}
