{% extends 'base.html.twig' %}

{% block title %}Messagerie |&nbsp;{{ parent() }}
{% endblock %}
{% block navMessagerie %}active{% endblock %}
{% block stylesheets %}
	<link rel="stylesheet" href="{{ asset('css/messages.css') }}">
{% endblock %}

{% block body %}
<main>
<div class="container"></div>

</main>
{% endblock %}
